* {
    background-color: rgb(124, 192, 85);
}

h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    /* padding: 5px;
    border: 2px solid black; */
    flex-direction: row;
    margin: 25px;
}


div #signs {
 
        flex-direction: row;
        margin: 0;
        padding: 0;
        margin: none;
        border: none;
        
}

div #numbers {
 
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin: none;
    border: none;
}

div.sign{
    padding: 50px;
    border: 2px solid black;
}

div.number{
    padding: 50px;
    border: 2px solid black; 
    border-radius: 100%;
}